//
//  Base.xcconfig
//  
//
//  Created by Eddie Hillenbrand on 2/18/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SDKROOT = macosx

ALWAYS_SEARCH_USER_PATHS = NO

SYSTEM_HEADER_SEARCH_PATHS = $(SRCROOT)/headers

OS_OBJECT_USE_OBJC = 0
OBJC_IS_DEBUG_BUILD = 1
LIBC_NO_LIBCRASHREPORTERCLIENT = 1

GCC_PREPROCESSOR_DEFINITIONS = OS_OBJECT_USE_OBJC $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = OBJC_IS_DEBUG_BUILD $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = LIBC_NO_LIBCRASHREPORTERCLIENT $(inherited)

ORDER_FILE = $(SRCROOT)/libobjc.order

